.block{display: block;
background-color:silver;
padding:20px;
margin:20px;
text-align:center;
color: red;
}
.h1{
color:red;strong;font-size:5px;
}
.p1
{
  font-size:3px
}
 .in{
text-align: right;
 padding:20px;
 margin:20px;
 background-color:blue;
 }
 .li{
   background-color: white;
   margin-left: 1000px;
   margin-right: 20px;
   padding: 20px;
   color: maroon;
 }
 

 }
